.movieList
{
    display: grid;
    grid-template-columns: minmax(300px, 100%);
}



@media screen and (min-width: 675px)
{
    .movieList
    {
        grid-template-columns: repeat(auto-fit, minmax(300px, 50%));
    }

}

@media screen and (min-width: 950px)
{
    .movieList
    {
        grid-template-columns: repeat(auto-fit, minmax(300px, 25%));

    }
}