.logo
{
    grid-column: 1/2;
}


.logo a
{
    text-decoration: none;
}

.logo h1
{
    font-family: Rubik Broken Fax, Monoton;
    font-size: 40px;
    color: rgb(195, 195, 195);

    transition: .4s ease;
}

.logo h1:hover
{
    color: #00d5ff;
}

@media screen and (min-width: 900px)
{
    .logo h1
    {
        font-size: 50px;
    }
}

@media screen and (min-width: 1024px)
{
    .logo h1
    {
        font-size: 60px;
    }
}