.slider
{
    /* margin-bottom: 50px; */
    position: relative;

}

.slider .swiper-button-next,
.slider .swiper-button-prev
{

    /* position: relative; */
    color: #fff;
    width: 65px;
    height: 65px;

    overflow: hidden;

    border-radius: 10px;
    background: rgb(0, 0, 0);
}

.slider .swiper-button-next:hover,
.slider .swiper-button-prev:hover
{

    background: rgba(0, 0, 0, 0.642);
}


.slider .swiper-button-next:hover,
.slider .swiper-button-prev:hover,
.slider .swiper-button-next:not(hover),
.slider .swiper-button-prev:not(hover)
{
    transition: .5s ease;
}