:root
{
    --search-height: 50px;
}

.searchContainer
{
    /* width: 50px; */
    height: var(--search-height);
    position: relative;


    grid-column: 2/3;
    grid-row: 1/1;

    display: flex;
    justify-content: end;
    align-items: center;
    justify-self: end;

    border-radius: 10px;

}

.openContainer
{
    width: 100%;
    border: 3px solid rgba(255, 255, 255, 0.42);
    background-color: #000000b3;

    /* animation: openSearch 1s ease; */
    transition: width 1s ease;
}

.closeContainer
{
    width: 50px;
    transition: width 1s ease;
}

/* @keyframes openSearch
{
    0%
    {
        transform: translateX(50px);
    }

    100%
    {
        transform: translateX(0px);
    }
} */

.searchButton
{
    background: none;
    border: 3px solid rgba(0, 0, 0, 0);
    border-radius: 20%;
    display: flex;
    align-items: center;
    padding: 11.5px;
    height: 50px;
}

.miniSearch
{
    border: 3px solid rgba(255, 255, 255, 0.42);
    background-color: #000000b3;
}

.searchButton span
{
    font-size: 21px;
    color: rgba(255, 255, 255, 0.42);
    transition: .3s ease;
}

.searchButton:hover span
{
    color: #00d5ff;
}

.searchLine
{
    width: 100%;

    background: none;
    color: #ffffff9f;
    font-size: 18px;
    line-height: 40px;
    align-items: center;

    outline: none;
    border: none;
    padding: 0 15px;
}

.searchLine::placeholder
{
    color: #ffffff57;
}

/*  */
.searchedList
{
    width: 0;
    height: auto;
    overflow-y: scroll;


    position: absolute;
    top: var(--search-height);
    right: -35px;

    display: grid;
    grid-template-columns: repeat(20, minmax(300px, 1fr));

    padding: 15px 0;
    border-radius: 15px 0 0 15px;

    background-color: #0000008b;
}

.searchedList a
{
    text-decoration: none;
    color: #fff;
}

.openList
{
    width: 200%;
}

@media screen and (min-width: 767px)
{
    .searchContainer
    {
        grid-column: 3/4;
    }
}