.uppercase
{
    text-transform: uppercase;
}

.bold
{
    font-weight: 800;
}

.light
{
    font-weight: 400;
}

/* =============== */

.footer
{
    background: url(../../../public/images/footerBack.jpg);
    background-attachment: fixed;
    padding: 20px 0;
    height: 500px;

    display: grid;
    grid-template-rows: repeat(5 100px);
    justify-items: center;

    position: relative;
}

.footer::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.722);
    /* z-index: inherit; */
}


.footer_startTextLine
{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    line-height: 28px;
    letter-spacing: 2px;

    grid-row: 1 / 2;
    position: absolute;
    display: flex;
    overflow: hidden;

}

.footer_startTextLine span
{
    margin-right: 10px;
}

.centerItem
{
    grid-row: 2/5;
    text-align: center;

    display: grid;
    grid-template-columns: minmax(auto, 20%) minmax(auto, 60%) minmax(auto, 20%);

    /* for footer::before(filter fontImage) */
    position: inherit;

}

.centerItem_row
{
    grid-column: 2/3;
    align-items: center;
    display: grid;
    grid-template-rows: minmax(auto, 20%) minmax(auto, 60%) minmax(auto, 20%);
}

.footer_logo
{
    display: flex;
    justify-content: center;

    margin-top: 30px;
}

.footer_text
{
    font-size: 13px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
    line-height: 110%;
    opacity: 0.8;
    /* 22.4px */
}

.footer_contacts
{
    display: flex;
    justify-content: space-around;

}

.footer_contacts_link
{
    color: #FFF;
    font-family: Rubik Scribble;
    font-size: 20px;
    line-height: 170%;
    letter-spacing: 0.2rem;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;

    transition: .4s ease;

}

.footer_contacts_link:hover
{
    color: #00d5ff;

}

/* .footer_contacts_link:not(hover)
{
    transition: 0.2s ease;
} */

.footer_aboutInfo_EndItem
{
    grid-row: 5/6;
    display: flex;
    align-items: end;
    text-align: center;

    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 140%;
    opacity: 0.5;
    /* 16.8px */
}

@media screen and (min-width: 540px)
{
    .footer_text
    {
        font-size: 14px;
        line-height: 140%;
        padding: 0 20px;
    }

}