.menu
{
    display: none;
    grid-column: 3/4;
}

.menu_link
{
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #fff;

    font-size: 20px;
    font-weight: 900;
    text-decoration: none;
    text-transform: lowercase;
}

.menu_link.active
{
    border-top: 2px solid #00d5ff;
    border-bottom: 2px solid #00d5ff;

    color: #00d5ff;
}

.menu_link:hover
{
    color: #00d5ff;
}

.menu_link:not(hover)
{
    transition: 0.3s ease;
}

@media screen and (min-width: 767px)
{
    .menu
    {
        display: block;
        grid-column: 2/3;
    }

    .menu_list
    {
        display: grid;
        grid-auto-flow: column;
        justify-items: center;
    }
}