.moviecard
{
    position: relative;

    height: 300px;
    background: rgba(255, 255, 255, 0);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-radius: 18px;
    margin: 0 0 40px 0;
}

.moviecard_backImg
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    object-fit: cover;

    border-radius: 18px;

}

.darken_image
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: black;
    opacity: 0.5;
    border-radius: 18px;
}

.darken_image:hover
{
    opacity: 0.3;
    transition: .5s linear;
}

.darken_image:not(hover)
{
    transition: .5s linear;

}

.moviecard_info
{
    position: relative;
    max-width: 500px;

    font-weight: bold;

    padding: 20px 0 0 20px;
}

.moviecard_title
{
    font-size: 23px;
    margin-bottom: 10px;
}

.moviecard_rateStar
{
    margin-bottom: 10px;
}

.moviecard_ganre
{
    font-size: 17px;
    font-weight: normal;

    margin-bottom: 10px;
}

.moviecard_description
{
    display: none;
}




/* sliderSetting MovieCard   */
.moviecard.cardToSlider
{
    height: 400px;
}

.moviecard.cardToSlider .moviecard_info
{
    padding: 60px 0 0 60px;
}

.moviecard.cardToSlider .moviecard_title
{
    font-size: 30px;
}

.moviecard.cardToSlider .moviecard_rateStar,
.moviecard.cardToSlider .moviecard_ganre
{
    display: none;
}

/* MoviePage Settings MovieCard  */

.moviecard.cardToMoviePage
{
    position: static;
    height: 70vh;
    display: grid;
    align-items: start;
    grid-template-rows: 60% 40%;

    padding: 0px;
}

.moviecard.cardToMoviePage div
{
    margin-bottom: 15px;
}

.moviecard.cardToMoviePage .moviecard_title
{
    font-size: 40px;
}

.moviecard.cardToMoviePage .moviecard_ganre
{
    font-size: 20px;
}

.moviecard.cardToMoviePage .moviecard_description
{
    display: block;
    font-size: 15px;
    font-weight: normal;
}

/* only for MoviePage many buttons  */
.moviecard_buttons
{
    display: grid;
    grid-template-columns: repeat(auto-fit, 190px);
}


@media screen and (min-width: 675px)
{
    .moviecard
    {
        height: 400px;
        margin: 20px;
    }

    /* sliderSetting MovieCard   */
    .moviecard.cardToSlider
    {
        height: 500px;
    }

    .moviecard.cardToSlider .moviecard_title
    {
        display: block;
        font-size: 50px;
    }
}

@media screen and (min-width: 769px)
{
    .moviecard_buttons
    {
        display: grid;
        grid-template-columns: repeat(auto-fit, 220px);
    }
}

@media screen and (min-width:1024px)
{

    /* MoviePage Settings MovieCard  */
    .moviecard.cardToMoviePage
    {

        align-items: end;
        grid-template-rows: 60% 40%;

        padding: 0 0 40px 40px;
    }

    .moviecard.cardToMoviePage div
    {
        margin-bottom: 20px;
    }

    .moviecard.cardToMoviePage .moviecard_title
    {
        font-size: 50px;
    }
}

@media screen and (min-width:1475px)
{

    /* sliderSetting MovieCard   */
    .moviecard.cardToSlider
    {
        height: 600px;
    }


    /* MoviePage Settings MovieCard  */
    .moviecard.cardToMoviePage
    {

        grid-template-rows: 60% 40%;

        padding: 0 0 100px 100px;
    }

    .moviecard.cardToMoviePage .moviecard_title
    {
        font-size: 60px;
    }

}