.burger_menu
{
    grid-column: 3/4;
    display: flex;
    justify-content: end;

    position: relative;
}

.burger_icon
{
    cursor: pointer;
    display: block;
    padding: 10px;
}

.burger_icon .bar
{
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
    transition: .4s;
}

.burger_icon.open .bar:nth-child(1)
{
    transform: rotate(-45deg) translate(-5px, 6px);
}

.burger_icon.open .bar:nth-child(2)
{
    opacity: 0;
}

.burger_icon.open .bar:nth-child(3)
{
    transform: rotate(45deg) translate(-5px, -6px);
}

.mobile_menu
{
    z-index: 10;
    min-width: 100%;
    height: 100vh;
    position: fixed;
    top: 75px;
    right: 0;
    bottom: 0;
    left: 0;

    text-align: center;
    background-color: #16181E;
}

.mobile_menu .menu.additional
{
    display: block;
}

.mobile_menu ul
{}

.mobile_menu li
{}

@media screen and (min-width: 767px)
{
    .burger_menu
    {
        display: none;
    }

}